@font-face {
    font-family: 'Emulogic Regular';
    src: url('./Font/Emulogic-zrEw.ttf') format('woff2'),
         url('./Font/Emulogic-zrEw.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Emulogic Regular'; 
    background-color: black;
  }

.grid {
    width: 560px;
    height: 560px;
    border: 1px solid black;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.display{
    display: flex;
    flex-direction: row;
}


.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 560px;
    margin: auto;
    left: 0;
}

.points{
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-between;
   
}

.score{
    color: white;
    
}

.startBtn{
    background-color: #2469ff7e;
    display: block;
    cursor: pointer;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Emulogic Regular'; 
}

.wall {
    background-color: #2469ff7e;
}


.pac-dot {
    background-image: url('./images/dot.png');
}

.pacman-image {
 background-image: url('./images/1\ \(4\).png');
 background-size: cover;
   border: 0px !important;

  }
  
   .pacman-image-left {
  background-image: url('./images/1\ \(2\).png');
  background-size: cover;
   border: 0px !important;
  }



  
  .pacman-image-up {
    background-image: url('./images/1\ \(3\).png');
    background-size: cover;
   border: 0px !important;
  }


  #h3{
    color: red;
  }
 
  
  .pacman-image-down {
    background-image: url('./images/1\ \(1\).png');
  }
 
  

.big-dot {
    background-image: url('./images/strawberry.png');
    background-size: cover;
    border: 0px !important;
    background-color: transparent !important;
}

.blinky {
    background-image: url("./images/blinky.png");
    background-size: cover;
    border: 0px !important;
    background-color: transparent !important;
}

.pinky {
    background-image: url("./images/pinky.png");
    background-size: cover;
    border: 0px !important;
    background-color: transparent !important;
}

.inky {
    background-image: url("./images/inky.png");
    background-size: cover;
    border: 0px !important;
    background-color: transparent !important;
}

.clyde {
    background-image: url("./images/blinky.png");
    background-size: cover;
    border: 0px !important;
    background-color: transparent !important;
}



.scared-ghost {
    background-image: url('./images/blue_ghost.png');
    background-size: cover;
    border: 0px !important;
    background-color: transparent !important;
}

.ghost {
    width: 20px;
    height: auto;
}

.topRightWall {
    background-color: #2469ff7e;
    border-top-right-radius: 35px;
    height: 20px;
    margin: 20px;
}

.bottomRightWall {
    background-color: #2469ff7e;
    border-bottom-right-radius: 35px;
    height: 20px;
    margin: 20px;
}

.topLeftWall {
    background-color: #2469ff7e;
    border-top-left-radius: 35px;
    height: 20px;
    margin: 20px;
}


.bottomLeftWall {
    background-color: #2469ff7e;
    border-bottom-left-radius: 35px;
    height: 20px;
    margin: 20px;
}


.leftWall{
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    background-color: #2469ff7e;
}

.rightWall{
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    background-color: #2469ff7e;
}




.wallRadius{
    border-top-left-radius: 35px ;
    border-top-right-radius: 35px;
    background-color: #2469ff7e;
}


.wallRadiusBottom{
    border-bottom-left-radius: 35px ;
    border-bottom-right-radius: 35px;
    background-color: #2469ff7e;
}

.VCase{
    border-top-left-radius: 35px ;
    border-top-right-radius: 35px ;
    border-bottom-left-radius: 35px ;
    background-color: #2469ff7e;
}

.VCase2{
    border-top-right-radius: 35px ;
    border-top-left-radius: 35px ;
    border-bottom-right-radius: 35px ;
    background-color: #2469ff7e;
}

.VCase3{
    border-top-right-radius: 35px ;
    border-top-left-radius: 35px ;
    border-bottom-right-radius: 35px ;
    border-bottom-left-radius: 35px ;
    background-color: #2469ff7e;
}


.vider{
    border-bottom-left-radius: 10px ;
    background-color: #2469ff7e;
}

.pac-man{
    height: 20px;
    width: auto;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     /* background-color: #1E1D23; */
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    color: #FFFFFF;
    text-align: center;
  }
  
  .lives-display {
    display: flex;
    align-items: center;
  }
  
  .life-image {
    width: 30px; /* Përshtatni dimensionet sipas nevojës */
    height: auto;
    margin-right: 5px; /* Vendosni një distancë mes imazheve */
  }
  

  .close-modal {
    position: absolute;
    top: 10px; /* ndryshoni sipas nevojës */
    right: 10px; /* ndryshoni sipas nevojës */
    cursor: pointer;
  }
  

  .restartbtn{
    cursor: pointer;
    font-family: 'Emulogic Regular'; 
  }

.pacman {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 20px;   /* Ndryshoni width në 20px */
  height: 20px;  /* Ndryshoni height në 20px */
  background: #464667;
}

.mouth {
  animation: eat 0.5s alternate infinite;
  animation-timing-function: linear;
  position: absolute;
  width: 13px;   /* Ndryshoni width në 13px */
  height: 0;
  border-top: 7px solid transparent;    /* Ndryshoni border-top në 7px */
  border-bottom: 7px solid transparent; /* Ndryshoni border-bottom në 7px */
  border-left: 13px solid #fff;         /* Ndryshoni border-left në 13px */
}

@keyframes eat {
  0% {
    border-top: 8px solid transparent;  /* Ndryshoni border-top në 8px */
    border-bottom: 8px solid transparent;  /* Ndryshoni border-bottom në 8px */
  }
  100% {
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
  }
}

@keyframes foodie {
  0% {
    transform: translateX(-1px);   /* Ndryshoni transform translateX në -1px */
    opacity: 1;
  }
  100% {
    transform: translateX(-17px);  /* Ndryshoni transform translateX në -17px */
    opacity: 0;
  }
}


  /* .pacman-image-left {
    transform: rotate(180deg);
  }
  
  .pacman-image-right {
    transform: rotate(0deg);
  }
  
  .pacman-image-up {
    transform: rotate(270deg);
  }
  
  .pacman-image-down {
    transform: rotate(90deg);
  } */

/* .pacman-image {
    transition: transform 0.3s ease;
    width: 20px; 
    height: 20px;
  }
  
 


  